@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

    .ft1{
        font-family: "Geologica", serif;
    }

    .ft2{
        font-family: "Finlandica", serif;
    }

    /* Adding some CSS regarding the background image */
    .bgimg1{
        background-image: url('images/Copilot.avif');
    }
}